<nav class="nav-bar">
    <div class="left">
        <a routerLink="/home" routerLinkActive="active">
            <img class="logo" src="logo.png" alt="Logo AC Software Developer">
            <span class="name">Arthur Coget</span>

        </a>
    </div>
    <div class="right">
        <a routerLink="/projects" routerLinkActive="active">Projects</a>
        <span class="separtion">|</span>
        <a routerLink="/about" routerLinkActive="active">About Me</a>
        <span class="separtion">|</span>
        <a routerLink="/contact" routerLinkActive="active">Contact Me</a>
    </div>
</nav>
<router-outlet></router-outlet>