<div class="animation-container">
  <app-background-animation />
  <div class="hello-card">
    <div class="profile-picture-container">
      <picture>
        <source srcset="mads-schmidt-rasmussen-xfngap_DToE-unsplash.jpg" type="image/jpeg">
        <img src="mads-schmidt-rasmussen-xfngap_DToE-unsplash.jpg" alt="Profile Picture of Arthur"
          class="profile-picture">
      </picture>
    </div>
    <div class="text-holder">
      <p><span class="hello-word">Hey, I'm Arthur.</span> I am freshly Gruaduated and looking for a new Challenge!</p>
      <p>
        <a href="https://www.linkedin.com/in/arthur-coget-inf" target="_blank" rel="noopener noreferrer">LinkedIn</a> |
        <a href="https://github.com/arthurcoget" target="_blank" rel="noopener noreferrer">GitHub</a>
      </p>
    </div>

  </div>
</div>
<div class="adidas-lines">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>